body {
    background-color: whitesmoke;
}

h2, h3 {
    margin: 50px;
    padding: 25px;
    text-decoration: underline;
}

p {
    margin-bottom: 50px;
}



/* Patricks css */

    
body {
    margin: 0;
    padding: 0;
}

.img1 {
    margin: auto;
    display: block;
    border: 1px solid black;
    border-radius: 50%;
}

.menu {
    /* background-color: green; */
    width: 60%;
    display: block;
    margin: 30px auto;
    text-align: center;
}

.menu a {
    font-size: 30px;
    text-decoration: none;
    margin: 10px;
    color: rgb(247, 188, 8);
    -webkit-text-stroke: 1px black;
    font-family: impact;
}

.menu a:hover {
    font-size: 45px;
}
/*--Header Above Here--*/





/*Footer Styling Below*/

.social {
  background-color:rgb(247, 188, 8);
  width: 100%;
  /* position: absolute; */
  display: block;
  margin: auto auto 0 auto;   
  text-align: center;
  bottom: 0px;
}

.social a {
    color: black;
}

.fa {
  /*display: flex;*/
  /*flex-direction: row;*/
  height: 30px;
  line-height: 30px;
  width: 30px;
  padding: 20px;
  text-align: center;
  margin: auto;
  text-decoration: none;
}

.fa-instagram {
color: black
}

.fa-facebook {
  color: black
}

.fa-twitter {
  color: black;
}

.fa-youtube {
  color: black;
}
