/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Poppins&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #544750;
    font-family: 'Poppins', sans-serif;
}

/* Navbar brand styling */
.navbar-brand {
    font-weight: bold;
}

/* Gallery item styling */
.gallery-item {
    padding: 0px;
    overflow: hidden;
}

.gallery img {
    width: 100%;
    height: 250px; /* Set a fixed height for all images */
    display: block;
    border-radius: 4px; /* Optional: Adds a slight rounding to the images */
    object-fit: cover; /* Ensures the image covers the container without distortion */
}

/* Header */
header {
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #544750;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #fff;
}

.img1 {
    margin: auto;
    display: block;
    border: 1px solid black;
    border-radius: 50%;
}
.menu {
    /* background-color: green; */
    width: 60%;
    display: block;
    margin: 30px auto;
    text-align: center;
}
.menu a {
    font-size: 30px;
    text-decoration: none;
    margin: 10px;
    color: rgb(247, 188, 8);
    -webkit-text-stroke: 1px black;
    font-family: impact;
}
.menu a:hover {
    font-size: 45px;
}

/* Main content should grow to take up available space */
main {
    flex: 1;
    padding: 1rem;
    margin-top: 100px; /* Add space to account for the fixed header */
}

/* Footer */
footer {
    padding: 20px 0;
    background-color: #f8f9fa;
    box-shadow: 0 -2px 2px #544750;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #544750;
}
